/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

// @import url(http://fonts.googleapis.com/css?family=Playfair+Display:700,900|Open+Sans:400,600);

// $headings-font-family: 'Playfair Display', serif;
// $headings-font-weight: 900;
// $font-family-base: 'Open Sans', sans-serif;

@import url(http://fonts.googleapis.com/css?family=Oswald|Open+Sans:400,600);

// Typography
$headings-font-family: 'Oswald', sans-serif;
$headings-font-weight: 400;
$font-size-base: 16px;
$font-size-h1: 64px;

// Colors
$brand-primary: #0F4D92;
// $brand-primary: #1b9792;
$btn-primary-border: #fff;

@import "bootstrap";

.container {
  text-align: center;
  padding-top: 40px;
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  line-height: 90px;
}

h4 {
  line-height: 40px;
}

p {
  clear: both;
}

.btn {
  // font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.week {
  width: 770px;
  margin: 0 auto;
  padding-top: 25px;
}

.weekday_date {
  font-family: $headings-font-family;
  font-size: 13px;
  color: #888;
}

.weekday {
  float: left;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  width: 14.26%;
}

.weekday_name {
  font-family: $headings-font-family;
  font-size: 20px;
  padding-bottom: 5px;
}

.checkin {
  font-size: 14px;
}

.green {
  color: $brand-primary;
}

.hashtag-tracking, .hashtag-form {
  padding-top: 20px;
}

.hashtag-form {
  padding-bottom: 50px;
}

span.glyphicon-remove {
  font-size: 12px;
}

.close {
  font-size: 18px;
}

.footer {
  font-size: 12px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.modal-body {
  text-align: left;
}


@media only screen and (max-width: 768px) {

  .img {
    max-width: 100%;
    height: auto;
  }

  .week {
    width: 100%
  }

  .weekday_unit, .checkin, .weekday_date, .weekday_name {
    float: left;
    text-align: left
  }

  .weekday {
    padding-top: 10px;
    padding-left: 40px;
  }

  .weekday_date {
    font-size: 20px;
    width: 70px;
  }

  .weekday_name {
    width: 40px;
    margin-right: 20px;
  }

  .checkin {
    font-size: 20px;
  }

  .weekday {
    width: 100%;
  }

}
